.pointer{
    cursor: pointer;
}

.main{
    width:25%;
    top:6vw;
    position: absolute;
    z-index: 1;
    left:1vw;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.main div{
    height:3vw;
    animation:fadein 1s;

}
span{
    bottom: 1vw;
    position: relative;
}
a{
    bottom: 1vw;
    position: relative;
}