<div class="container text-center mt-3">
    <h3>{{ title }}</h3>
    <div class="d-flex text-center mt-4 ml-5 ">

       
        <div class="h-100 col-8" style="width: 85%;">
            <div name="layout"
                style="position:relative;text-align:center;border:0.5px solid black;" class="bg-degrade">
                <div #layout class="division" [ngStyle]="{'width.vw':  width, 'height.vw' : height }">
                  
                    <div *ngFor="let device of devices">
                        <div *ngIf="device == movingDevice">
                            <div class="moveicons" *ngIf="edit" [ngStyle]="{'margin-left.vw':width}">

                                <i (click)="confirmMove(device)" class="fa fa-check moveResult" aria-hidden="true"></i>
                                <i (click)="cancelMove(device)" class="fa fa-window-close moveResult"
                                    aria-hidden="true"></i>

                            </div>
                            <div class="device"
                                [ngStyle]="{'top.vw':device.position.y*heightratio-1.5, 'left.vw':device.position.x*widthratio-1.5}">



                                <img id='editedDevice' cdkDrag cdkDragBoundary=".division"
                                    src={{device.currentState.image}} class="toDrag" />




                            </div>
                        </div>
                        <div *ngIf="device != movingDevice">
                            <div class="device"
                                [ngStyle]="{'top.vw':device.position.y*heightratio-1.5, 'left.vw':device.position.x*widthratio-1.5}">

                                <div class="editicons" *ngIf="edit">
                                    <i (click)="editDevice(device)" class="fa fa-edit edit" aria-hidden="true"></i>
                                    <i (click)="open(deletedevice,device)" class="fa fa-trash delete"
                                        aria-hidden="true"></i>
                                    <i (click)="move(device)" class="fa fa-arrows-alt move" aria-hidden="true"></i>
                                </div>
                              
                                <app-device [division]='division' [device]='device'></app-device>
                                <!-- Modal para remove -->
                                <ng-template #deletedevice let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">Remove Device</h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to remove {{ device.name }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" ngbAutofocus
                                            (click)="d('Cross click')">Cancel</button>
                                        <button type="button" class="btn btn-success"
                                            (click)="c('Save click');deleteDevice(device);">Remove device</button>
                                    </div>
                                </ng-template>
                            </div>
                        </div>




                    </div>
                    <div *ngFor="let door of division.doors">
                        <div class="device" [ngStyle]="{'top.vw':door.y*heightratio-1.5, 'left.vw':door.x*widthratio-1.5}">
                            <div *ngIf="door.angle==0"  style="transform: rotate(0deg);">
                                <img class="door" src="/assets/images/static-door.png">
                            </div>
                            <div *ngIf="door.angle==90" style="transform: rotate(90deg);">
                                <img class="door" src="/assets/images/static-door.png">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="col-4">


            <h3>Room info</h3>
            <hr>
            <div *ngFor="let value of info">
                <b class="h4"> {{ value.description }} : {{ value.value }}</b>
            </div>

            <div class="row mt-5">
                <div class="col-12"> <button type="button"   (click)="go404()" style="width:55%" class="btn btn-dark bg-cyan text-white btn-lg"> Room
                        Analytics </button></div>

                <div class="col-12 mt-2"> <button (click)="addDevice()" type="button" style="width:55%"
                        class="btn bg-cyan text-white btn-lg ">Add Device<span class="ml-3 h4">
                            <i class="fa fa-plus"></i></span> </button></div>
                <div class="col-12 mt-2"> <button (click)="editDivision()" type="button" style="width:55%"
                        class="btn btn-secondary  bg-cyan text-white btn-lg">Edit
                        Devices<span class="ml-3 h4"> <i class="fa fa-edit"></i></span> </button></div>





            </div>


        </div>

        <div style="width:10%"></div>
    </div>