<div class="container mt-5s">
    <h3 style="text-align: center;">{{ title }}</h3>
    <div class="d-flex" style="text-align:center;margin-top:2%;margin-left:3%;margin-bottom:1vw;">


        <div style="display:flex; flex-flow:column; left:5%;height:100%;width: 85%;">
            <div name="layout"
                style="position:relative;text-align:center;border:0.5px solid black;background-color: lightgray;">
                <div #layout class="division" [ngStyle]="{'width.vw':  width, 'height.vw' : height }">
                    <div *ngFor="let device of division.devices">
                        <span class="device"
                            [ngStyle]="{'top.vw':device.position.y-1.5, 'left.vw':device.position.x-1.5}">

                            <div class="editicons" *ngIf="edit">
                                <i (click)="editDevice(device)" class="fa fa-edit edit" aria-hidden="true"></i>
                                <i (click)="deleteDevice(device)" class="fa fa-trash delete" aria-hidden="true"></i>
                                <i (click)="move(device)" class="fa fa-arrows-alt move" aria-hidden="true"></i>
                            </div>
                            <app-device [division]='division' [device]='device'></app-device>
                        </span>
                    </div>
                    <div *ngFor="let door of division.doors">
                        <div class="device" [ngStyle]="{'top.vw':door.y-1.5, 'left.vw':door.x-1.5}">
                            <div class="wrapper">
                                <img class="icon" src="/assets/images/door-closed.png">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div style="width:5%"></div>

        <div style="width:13%">
            <div class="margin-vertical">

                <h3>Room info</h3>
                <div *ngFor="let value of info">
                    <p> {{ value.description }} : {{ value.value }}</p>
                </div>


                <button type="button" class="margin-vertical btn btn-dark btn-lg"
                    style="text-align: center; line-height: 250%; width:90%; margin-top: 20%;"> Room Analytics </button>
            </div>

            <button (click)="addDevice()" type="button" class="btn btn-dark btn-lg"
                style="text-align: center; line-height: 250%; width:90%; margin-top: 20%; ">Add Device<span
                    class="ml-3 h4">
                    <i class="fa fa-plus"></i></span> </button>

            <button (click)="editDivision()" type="button" class="btn btn-secondary btn-lg"
                style="text-align: center; line-height: 250%; width:90%; margin-top: 30%;">Edit Devices<span
                    class="ml-3 h4"> <i class="fa fa-edit"></i></span> </button>




        </div>

        <div style="width:10%"></div>
    </div>
</div>