a {
  
  height:10%;
  float:left;
  width:100%;
  text-align: center;
  line-height: 250%;
  
}

.margin-vertical{
    margin-top:5%;
    margin-bottom: 20%;
}

.edit{
    position: relative;
    bottom:10%;
}

:host ::ng-deep .division{
    position:relative;
    background-color:white;
    margin:0 auto;
    margin-top:2vw;
    margin-bottom:2vw;
    border:1px solid black;
}

:host ::ng-deep .device{
    position:absolute;
}

.device{
    position: absolute;
}