
   <br>
    <h3 style="text-align: center;">{{ title }}</h3>
<div class="d-flex" style="text-align:center;margin-top:2%;margin-left:3%;margin-bottom:1vw;">
  
  
   <div style="display:flex; flex-flow:column; height:100% ; left:5%;height:100%;width: 85%;" >
             <div #layout name="layout" style="position:relavive;text-align:center;border:0.5px solid black;background-color: lightgray;">
              
            </div>
            
        </div>
          <div style="width:5%"></div>

        <div style="width:13%" >
                <a class="margin-vertical btn btn-primary btn-large" style="margin-top:0%;">Room Analytics</a>
           
                <div class="margin-vertical">
                <h2>Room info</h2>
                <div *ngFor="let value of info">
                    <p>{{ value.description }} : {{ value.value }}</p>
                </div>
            </div>
                <a (click) = "addDevice()" class="margin-vertical btn btn-primary btn-large">Add Device</a>
                
                <a (click) = "editDivision()" class="margin-vertical btn btn-info btn-large">Edit Division</a>
        </div>
                <div style="width:10%"></div>
      
    
</div>
