

    :host ::ng-deep .division { 
        background-color: white;
        position:absolute;
        margin:0 auto;
        border:1px solid black;
        position: absolute;
        
        

      }

      :host ::ng-deep .division:hover{ 
        background-color: gray;
      }

    
      :host ::ng-deep a{
          color:inherit;
      }


      :host ::ng-deep .title{
        top:50%;
        left:50%;
        position: relative;
        transform: translate(-50%,-50%);
       
      }

      :host ::ng-deep .loucura{
        top:10%;
        left:47%;
        position: relative;
        transform: translate(-25%,-25%);
      }
