:host ::ng-deep .device{
  position: absolute;
}




    :host ::ng-deep .division { 
        background-color: white;
        position: absolute;
        margin:0 auto;
        border:0.8px solid darkgray;
        
        

      }

      :host ::ng-deep .division:hover{ 
        background-color: gray;
        /*margin: 0.5vw;
        z-index: 1;*/
      }

    
      :host ::ng-deep a{
          color:inherit;
      }


      :host ::ng-deep .title{
        top:50%;
        left:50%;
        position: relative;
        transform: translate(-50%,-50%);
       
      }

      :host ::ng-deep .loucura{
        top:10%;
        left:47%;
        position: relative;
        transform: translate(-25%,-25%);
      }

      .icon {
        width:1.5vw;
        height:1.5vw;
    }

   
    .wrapper .text{
      position: absolute;
      width:8vw;
      text-align: center;
      left:-2vw;
      font-size: 0.8vw;
      color:gray;
      background-color:whitesmoke;
      border-radius: 1vw;
  }
  .wrapper{
    animation: fade 1s;
  }

  @keyframes fade{ 
    from{opacity: 0;}
    to{opacity: 1;}
  }
  