<div class="  mt-3">
    <div>
        <h2>
            &nbsp;</h2>

    </div>

    <div class="ml-5" style="display: flex;">

        <div style="height:40vw;;border:0.5px solid black; " class=" bg-degrade text-center col-9">
            <div class="row">
                <div class="loucura mt-5 col-8" style="cursor: pointer;">
                    <div *ngFor="let division of divisions">
                        <a (click)="goToDivision(division.id)">
                            <div class="division"
                                [ngStyle]="{'top.vw':division.layout.from.y, 'left.vw':division.layout.from.x, 'width.vw':division.layout.to.x-division.layout.from.x,'height.vw':division.layout.to.y-division.layout.from.y}">
                                <div class="title">
                                    <b>{{division.title}}</b>
                                </div>

                                <div *ngFor="let device of division.devices"
                                    style="position: absolute;top:0vw;left:0vw;">
                                    <span class="device"
                                        [ngStyle]="{'top.vw':device.position.y-0.75, 'left.vw':device.position.x-0.75}">


                                        <div class="wrapper" *ngIf="device.show">
                                            <img class="icon" src={{device.currentState.image}}>
                                            <p class="text"> {{ device.currentState.description }}</p>

                                        </div>
                                    </span>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>
                <div class="col-3 s-1-5 mt-5 ml-5 text-white">
                    <div class="row ml-4">
                        <div class="col-2">
                            <i class="fa fa-bolt"></i>
                        </div>
                        <div class="col-7 text-left">
                            {{energy}}
                        </div>
                    </div>
                    <div class="row ml-4">
                        <div class="col-2 text-right">
                            <i class="fa fa-thermometer-half"></i>
                        </div>
                        <div class="col-7 text-left">
                            {{temperature}}
                        </div>
                    </div>

                    <div class="row ml-4">
                        <div class="col-2 text-right">
                            <i class="fa fa-tint"></i>
                        </div>
                        <div class="col-7 text-left">
                            {{humidity}}
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-3 text-center">

            <h2 class="mb-5"> My home
                <hr>
            </h2>

            <!--Botao Settings-->
            <button (click)="goToSettings()" type="button"
                class="btn text-white bg-cyan btn-lg text-center  w-70">Settings<span class="ml-3 h4">
                    <i class="fa fa-cogs"></i></span> </button>


            <!--Botao Logs-->
            <button (click)="goToLogs()" type="button"
                class="btn bg-cyan btn-lg text-white text-center  mt-2 w-70">Logs/History<span class="ml-3 h4"> <i
                        class="fa fa-align-justify"></i> </span> </button>

            <!--Botao Analitics-->
            <button (click)="goToAnalytics()" type="button"
                class="btn  bg-cyan text-white btn-lg text-center  mt-2 w-70">Analytics<span class="ml-3 h4">
                    <i class="fa fa-clipboard"></i></span> </button>


            <!--Dropdown com X procedimentos, usar um service para ir buscar esses valores-->
            <div>
                <div class="dropdown">
                    <button data-display="static"
                        class="btn bg-cyan btn-lg  text-white w-70 dropdown-toggle text-center mt-2" type="button"
                        data-toggle="dropdown">Procedures

                        <div class="dropdown-menu w-70 " style="margin-left: 15%;">
                            <br>
                            <a *ngFor="let procedure of procedures let i=index">
                                <a *ngIf="i<5">
                                    <a class="dropdown-item " (click)="open(content,procedure)"
                                        style="font-weight: bold;">
                                        <div class="row">
                                            <div class="col-10" style="overflow: hidden;">{{ procedure.name }}</div>



                                            <!-- pop up de run prodecure-->
                                            <ng-template #content let-c="close" let-d="dismiss">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="modal-basic-title">Run Procedure</h4>
                                                    <button type="button" class="close" aria-label="Close"
                                                        (click)="d('Cross click')">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="display: flex;">
                                                    <h5>Are you sure you want to run procedure
                                                        <b>{{procedure.name}}</b>?</h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" ngbAutofocus
                                                        (click)="c('Cancel')">Cancel</button>
                                                    <button type="button" class="btn btn-success  "
                                                        (click)="c('Confirm')">Run Procedure</button>
                                                </div>
                                            </ng-template>

                                            <div class="col-2"> <a>
                                                    <span class=" h4">
                                                        <i class="fa fa-play" style="color: green;"></i>
                                                    </span>
                                                </a></div>

                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                </a>
                            </a>
                            <div>
                                <button (click)="goToProcedures()" type="button" class="btn text-white bg-cyan btn-sm"
                                    style="margin-left: 5%; margin-right: 5%; width: 90%;">
                                    Go to All Procedures
                                </button>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>