<div>
    <div>
        <h1 style="font-weight: bold;padding-top: 2%; padding-left: 3%;">
            My Home </h1>

    </div>
    <div class="d-flex" style="text-align:center;margin-top:2%;margin-left:3%;margin-bottom:1vw; ">

        <!--Planta-->
        <div style="display:flex; flex-flow:column; left:5%;height:100%;width: 85%;">
            <div
                style="height:40vw;position:relative;text-align:center;border:0.5px solid black;background-color: lightgray;">
                <div class="loucura" style="cursor: pointer;">
                    <div *ngFor="let division of divisions">
                       <a (click)="goToDivision(division.id)">
                            <div class="division"
                                [ngStyle]="{'top.vw':division.layout.from.y, 'left.vw':division.layout.from.x, 'width.vw':division.layout.to.x-division.layout.from.x,'height.vw':division.layout.to.y-division.layout.from.y}">
                                <div class="title">
                                    {{division.title}}
                                </div>

                                
                            </div>
                        </a>
                        


                    </div> 

                </div>



                <div style="margin-left:82%;margin-top:2%;width: 18%;height:98%;font-size: 200%; color: chocolate;">
                    <div class="row">
                        <div class="col-2 text-center">
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="col-7 text-center">
                            {{energy}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-center">
                            <i class="fa fa-thermometer-half"></i>
                        </div>
                        <div class="col-7 text-center">
                            {{temperature}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-center">
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="col-7 text-center">
                            {{time}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-center">
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="col-7 text-center">
                            {{humidity}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:5%"></div>


        <div style="width:13%">


            <!--Botao Settings-->
            <button (click)="goToSettings()" type="button" class="btn btn-primary btn-lg"
                style="text-align: center; line-height: 250%; width:100%; margin-top: 20%; ">Settings<span
                    class="ml-3 h4">
                    <i class="fa fa-cogs"></i></span> </button>


            <!--Botao Logs-->
            <button (click)="goToLogs()" type="button" class="btn btn-primary btn-lg"
                style="text-align: center; line-height: 250%; width:100%; margin-top: 10%;">Logs/History<span
                    class="ml-3 h4"> <i class="fa fa-align-justify"></i> </span> </button>

            <!--Botao Analitics-->
            <button (click)="success('Success!!')" type="button" class="btn btn-primary btn-lg"
                style="text-align: center; line-height: 250%; width:100%; margin-top: 10%;">Analytics<span
                    class="ml-3 h4">
                    <i class="fa fa-clipboard"></i></span> </button>


            <!--Dropdown com X procedimentos, usar um service para ir buscar esses valores-->
            <div class="margin-vertical">
                <div class="dropdown">
                    <button data-display="static" class="btn btn-dark btn-lg dropdown-toggle" type="button"
                        data-toggle="dropdown"
                        style="text-align: center; line-height: 250%; width:100%; margin-top: 30%;">Procedures
                        <span class="ml-2 h4">
                            <i class="fa fa-bolt"></i>
                            <span class="ml-2 h4 caret">
                            </span>
                        </span>
                        <div class="dropdown-menu" style="width:100%;">
                            <a *ngFor="let procedure of procedures let i=index">
                                <a *ngIf="i<5">
                                    <a class="dropdown-item" (click)="open(content,procedure)"
                                        style="font-weight: bold;">
                                        <div style="margin-left: 5%;">
                                            {{ procedure.name }}
                                            <!-- Se for para meter so o sinal de play 
                                                <a (click)="open(content)">
                                            -->
                                            <a>
                                                <span class="ml-2 h4">
                                                    <i class="fa fa-play" style="color: green;"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                </a>
                            </a>
                            <div>
                                <button (click)="goToProcedures()" type="button" class="btn btn-dark btn-sm"
                                    style="margin-left: 5%; margin-right: 5%; width: 90%;">
                                    Go to All Procedures
                                </button>
                            </div>
                        </div>
                    </button>
                </div>
            </div>

        </div>

        <div style="width:10%"></div>
    </div>

    <!-- pop up de run prodecure-->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="display: flex;">
            <h5>Are you sure you want to run the following procedure?</h5>
            <!--<h5>{{ procedure.name }}</h5>-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="c('Cancel')">Cancel</button>
            <button type="button" class="btn btn-primary  " (click)="c('Confirm')">Confirm</button>
        </div>
    </ng-template>
</div>