
    :host ::ng-deep .division { 
        background-color: white;
        position: absolute;
        margin:0 auto;
        border:0.8px solid darkgray;
      }

      :host ::ng-deep .division:hover{ 
        background-color: gray;
        /*margin: 0.5vw;
        z-index: 1;*/
      }

    
      :host ::ng-deep a{
          color:inherit;
      }

      :host ::ng-deep .title{
        top:50%;
        left:50%;
        position: relative;
        transform: translate(-50%,-50%);
      }

      :host ::ng-deep .loucura{
        top:10%;
        left:47%;
        position: relative;
        transform: translate(-25%,-25%);
      }

      .icon {
        width:1.5vw;
        height:1.5vw;
    }

   
   