<h2 class="text-center mt-5s">{{ title }}</h2>
<hr>
<div class="d-flex text-center ml-5 mt-4">


    <div class="h-100 col-8" style="width: 55%;">
        <div name="layout"
            style="position:relative;text-align:center;border:0.5px solid black;background-color: lightgray;">
            <div #layout class="division" [ngStyle]="{'width.vw':  width, 'height.vw' : height }">
                <div *ngFor="let device of division.devices">
                    <span class="device"
                        [ngStyle]="{'top.vw':device.position.y*ratio-1.5, 'left.vw':device.position.x*ratio-1.5}">


                        <app-proceduredevice [division]='division' [device]='device'></app-proceduredevice>
                    </span>
                </div>
                <div *ngFor="let door of division.doors">
                    <!--<div class="device" [ngStyle]="{'top.vw':door.y-2.5, 'left.vw':door.x-0.5}">-->
                            <div class="device" [ngStyle]="{'top.vw':door.y*ratio-2.5, 'left.vw':door.x*ratio-0.5}">
                            
                        <div *ngIf="door.angle==0" class="wrapper" style="transform: rotate(0deg);">
                            <img class="icon" src="/assets/images/static-door.png">
                        </div>
                        <div *ngIf="door.angle==90" class="wrapper" style="transform: rotate(90deg);">
                                <img class="icon" src="/assets/images/static-door.png">
                            </div>
                    </div>
                </div>

            </div>

        </div>
        <br>



        <button (click)="cancel()" class="btn btn-danger">Cancelar</button>
        <button (click)="saveDivAction()" class="btn ml-2 btn-success">Confirmar</button>
    </div>
    <div class="col-4">

        <h2> Actions</h2>
        <hr>
        <div *ngFor="let actions of selectedActions; let i = index; trackBy: trackByFn" class=" text-left mt-2">
            <b>{{actions.device.name}} : 
            {{actions.goalState.action}}</b>&nbsp;
            <button (click)="removeField(i)" style ="font-size: 1em;" class="btn btn-danger">X</button>

        </div>

    </div>