.division{
    position:relative;
    background-color:white;
    margin:0 auto;
    margin-top:2vw;
    margin-bottom:2vw;
    border:1px solid black;
}
:host ::ng-deep .device{
    position:absolute;
}

.icon{
    width:5vw;
    height:5vw;
    background-color:whitesmoke;
    border:1px solid black;
    border-radius: 0.5vw;
    margin:0.5vw;
}

.icon:hover{
    background-color: gray;
    border-radius:1vw;
    width:5.5vw;
    height:5.5vw;
}
.active {
    background-color:blanchedalmond;
    width:6vw;
    height:6vw;
    border: 2px solid gray;
    border-radius: 1.5vw;
}

.url{
    background-color:whitesmoke;
    border: 1px solid gray;
    border-radius: 1vw;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1vw;
    width:40%;
}

.url:hover{
    background-color:white;
    cursor: pointer;
}

.activeurl{
    background-color:blanchedalmond;
    font-size: 120%;
    border: 1px solid gray;
    border-radius: 1vw;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1vw;
    width:40%;
}

.toDrag{
    width:3vw;
    height:3vw;
    margin-left:1vw;
    position: absolute;
    transition: 0.2s all linear;
    z-index: 1;
    border: 1px solid black;
    border-radius: 0.2vw;
    top:0vw;
    left:0vw;
}

.toDrag:hover{
    border:1px solid gray;
    width:3.2vw;
    height:3.2vw;
    border-radius: 1vw;
    position: absolute;
}

.toDrag:active{
    transition: 0s;
}