.division{
    position:relative;
    background-color:white;
    margin:0 auto;
    margin-top:2vw;
    margin-bottom:2vw;
    border:1px solid black;
}
:host ::ng-deep .device{
    position:absolute;    
    
}



:host ::ng-deep .deviceIcon{

    border-radius: 10vw;
    position: relative;
 
}
.icon{
    width:5vw;
    height:5vw;
    background-color:whitesmoke;
    border:1px solid black;
    border-radius: 0.5vw;
    margin:0.5vw;
}

.icon:hover{
    background-color: gray;
    cursor: pointer;
}

.active {
    background-color: #2adbef;
    width:6vw;
    height:6vw;
    border: 1px solid black;
    border-radius: 1.5vw;
}

.url{
    background-color:white;
    border: 1px solid black;
    border-radius: 1vw;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1vw;
    width:40%;
}

.url:hover{
    background-color:gray;
    cursor: pointer;
}

.activeurl{
    background-color: #2adbef;
    font-size: 120%;
    border: 1px solid black;
    border-radius: 1vw;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1vw;
    width:40%;
}

.toDrag{
    position: absolute;
    transition: 0.2s all linear;
    z-index: 1;
    border: 1px solid black;
    border-radius: 0.2vw;
    top:0vw;
    left:0vw;
    
}

.toDrag:hover{
    border:1px solid gray;
    border-radius: 1vw;
    
}

.toDrag:active{
    transition: 0s;
}

:host ::ng-deep .editDrag{

    border:1px solid black;
}
