<div class="container">
  <div [hidden]="submitted">
    <br>
    <h2 style="text-align: center;">Add new Device to {{ division.title}}</h2>

    <form (ngSubmit)="onSubmit()" #deviceForm="ngForm">

      <div class="form-group" style=" margin-top: 3%;">
        <label for="name">Device Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div style="margin-top: 3%;"><button type="button" class="btn btn-secondary"
          style="text-align: center; line-height: 250%; width:15%;" (click)="open(devicetype)">Device Type</button>
      </div>

      <!-- aparece o X "selecionado"-->
      <ng-template #devicetype let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Select Device Type</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="display: flex;">
          <div *ngFor="let device of devices">
            <!--Estas classes são só placeholders-->
            <button (click)="selectDevice(device.type)" class="btn btn-info">{{ device.type }}</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="open(searchdevice)">Select</button>
        </div>

      </ng-template>

      <!-- aparece o X "selecionado"-->
      <ng-template #searchdevice let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Select Device URL</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="display: flex;">
          <div *ngFor="let device of devices">
            <!--Estas classes são só placeholders-->
            <button (click)="selectDevice(device.type)" class="btn btn-info">{{ device.type }}</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="openSearchDevice(searchdevice)">Select</button>
        </div>
      </ng-template>

      <!-- Procura devices to tipo escolhido. Feedback adequando, rodinha a esperar? Se não encontrou nenhum indicar que não encontrou.-->
      <!-- Disabled até escolher um device type? Ou se a pessoa carregar mas o device type n tiver side escolhido procura tudo? Ou mensagem de aviso?-->
      <div style="margin-top: 3%;"><button type="button" class="btn btn-secondary"
          style="text-align: center; line-height: 250%; width:15%;">Search for Devices</button></div>


      <!-- O URL Device pode desaparecer ou então conforme o que for escolhido pode funcionar como feedback (altera link conforme o que for selecionado)-->
      <div class="form-group" style=" margin-top: 3%;">
        <label for="url">Device URL</label>
        <input type="text" class="form-control" id="url" [(ngModel)]="model.url" name="url">

      </div>

      <div style=" margin-top: 3%;">

        <p>Drag to choose device position in {{ division.title }}</p>
        <br>

        <div style="display:flex; flex-flow:column; left:5%;height:100%;width: 85%;">
          <div name="layout"
            style="position:relative;text-align:center;border:0.5px solid black;background-color: lightgray;">
            <div #layout class="division" [ngStyle]="{'width.vw':  width, 'height.vw' : height }">
              <div *ngFor="let device of division.devices">
                <span class="device" [ngStyle]="{'top.vw':device.position.y-1.5, 'left.vw':device.position.x-1.5}">

                  <app-device [device]='device'></app-device>
                </span>
              </div>

            </div>

          </div>

        </div>
      </div>


      <div style="margin-left: 50%; margin-top: 5%;">

        <button (click)="goToDivision()" type="button" class="btn btn-danger"
          style="text-align: center; line-height: 250%; width:30%; margin-left: -30%;">Cancel</button>
        <button type="submit" class="btn btn-success"
          style="text-align: center; line-height: 250%; width:30%; margin-left: 10%;"
          [disabled]="!deviceForm.form.valid">Submit</button></div>

    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name: </div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Url: </div>
      <div class="col-xs-9">{{ model.url }}</div>
    </div>
  </div>
</div>