<div class="container mt-5s">
    <div class="row ml-5 border-bottom">
        <div class="col-6">
            <h2>Add new Procedure</h2>
        </div>

    </div>
    <div class="row ">
        <div class="col-6"></div>
        <div class="col-6 text-center"><h3 class="mr-5 pt-3">Select a division: </h3></div>
        
    </div>
    <div class="row pt-3 ml-5">
        <div class="col-6">

            <div class="w-75">
                <h3 class=" border-bottom text-left ">Selected Actions:</h3>

                <table class="table bg-degrade text-white text-center mb-0 mt-3">
                    <thead>
                        <tr>

                            <th scope="col">Action</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let action of actions">

                            <td>{{ action.name }}</td>
                            <td>
                                <a (click)="edit(action.id)" class=" h4"> <i class=" fa fa-edit"></i></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row pt-5 ml-5">

                <div class="col-2 text-right ml-5">
                    <button class="btn btn-lg text-white btn-danger" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-4 text-left">
                    <button class="btn btn-lg text-white btn-success" (click)="open(finish)">Name & Finish</button>
                </div>

                <!-- finish modal -->
                <ng-template #finish let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Name this procedure</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: flex;">

                        <div class="input-group input-group-lg ">

                            <input class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
                                type="text" [(ngModel)]='name' placeholder="New procedure name" />
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="d('Cross click')">Cancel</button>
                        <button type="button" class="btn btn-success" (click)="c('Save click'); save()">Submit</button>
                    </div>
                </ng-template>

            </div>

        </div>

        <div class="col-6 text-center">

            <div *ngFor="let division of divisions" style="cursor: pointer;">
                <a (click)="goToDivision(division.id)">
                    <div class="division"
                        [ngStyle]="{'top.vw':division.layout.from.y, 'left.vw':division.layout.from.x, 'width.vw':division.layout.to.x-division.layout.from.x,'height.vw':division.layout.to.y-division.layout.from.y}">
                        <div class="title">
                            {{division.title}}
                        </div>


                    </div>
                </a>



            </div>

        </div>
    </div>
</div>