<div class="bg-degrade vh-100" id="page-top">
        <a class="navbar-brand js-scroll-trigger" href="/">
                <img class="img-fluid rounded" style="transition: 1s" src="assets/img/header/logoWhite.png" alt=""
                    height="70" width="70" id="logo" />
                <img class="img-fluid rounded " style="transition: 1s" src="assets/img/header/nameWhite.png" alt=""
                    height="100" width="150" id="name" />
            </a>
    <div class="container">

        <div class="row ">

            <div class="col-sm-12 col-md-12 col-lg-6 pt-5 center">
                <div>
                    <b class=" text-white big-font">

                        404</b><span class=" text-white big1-font ">...</span>
                </div>
                <div class="pt-5">
                    <button type="button" (click)="goToHomepage()" class="s-1-5 btn-blueish draw meet start">Go to
                        Homepage</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 pt-5 text-center">

            <div class="bringdown text-yellow">
                <b class="s-1-5 ">Hum.. This resource isn't here</b><br><br>
                <b class="s-1-5 ">Maybe it never was...</b><br><br><br>
                <b class="s-1-5 ">Guess we are not that smart after all</b>
            </div>
            </div>




        </div>




    </div>