
<div class="container">

    <div class="jumbotron bg-degrade text-white text-center" style="margin-left: 30%; margin-right: 30%; margin-top:5%;">

        <h2 class="mt-1">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-4">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" style="border-color: black !important;"class="btn btn-primary bg-black">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a routerLink="/regist" class="btn btn-link text-white">Register</a>
            </div>
            <br>
            <div *ngIf="wrongLogin">
                <div class="wrongLogin">
                    <p>Invalid User or credentials</p>
                </div>
            </div>
        </form>

    </div>
</div>