
.masthead {
    padding-top: calc(4rem + 74px);
    padding-bottom: 6rem;
}

.s-big{
  font-size: 4rem;
}

.s-med{
  font-size: 3rem;
}



  @media (max-width:415px){ 
    .nav-border {
      border-bottom: solid #2adbef;
      border-top: solid  #2adbef;
    }
    .down{
      padding-top: 2rem !important;
    }
  
    #header{
      font-size: 2rem !important;
    }
    .s-1{
      font-size: 1.3rem;
    }

    #header-cont{
      text-align: center !important;
    }

    #landing{
      margin-left: 0 !important;
      margin-top: 0 rem !important;
    }
  }
    
 
  