<div class="bg-degrade">

    <nav class="navbar navbar-expand-lg fixed-top navbar-shrink">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="img-fluid rounded" src="assets/img/header/logoWhite.png" alt="" height="70" width="70">
                <img class="img-fluid rounded logoSize" src="assets/img/header/nameWhite.png" alt="" height="100"
                    width="150">
            </a>
            <button
                class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-gold text-white rounded collapsed"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">

                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-collapse collapse h5" id="navbarResponsive">
                <ul class="navbar-nav ml-auto font-nav nav-border ">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link px-0 px-lg-3 rounded js-scroll-trigger text-white"
                            href="#portfolio">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link px-0 px-lg-3 rounded js-scroll-trigger text-white" href="#project">Log In</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link px-0 px-lg-3 rounded js-scroll-trigger text-blueosh border border-blueosh"
                            href="#about">Get
                            Started</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class=" container d-flex  flex-column text-white">
            <div class="row mt-5 ml-3" id="landing">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h1 class="  d-none d-lg-block ">Do not limit yourself</h1>
                    <h1><b>Live</b><b class="text-blueish"> Smarter.</b></h1>
                    <div class="d-none d-lg-block pt-5 ">
                        <h4>A novel approach to house <b class="text-blueish">monitoring</b></h4>
                        <h4>Pushing the smart even further to the home</h4>
                    </div>

                    <div class="pt-5">
                        <button type="button" class=" s-1-5 btn btn-blueish">Get Started</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-center  ">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">


                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="assets/img/header/land1.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/img/header/land1.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/img/header/land1.png" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <div class="pt-4">
                            <ol class="carousel-indicators ">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </header>
</div>