.container{
    max-width: 1500px !important;
}
.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.s-1-5{
    font-size: 1.5rem;
}

.text-blueish{
    color : #2adbef !important;
}

.text-blueosh{
    color : #070d2c !important;
}

.btn-blueish{
    background-color: #2adbef !important;
}

.border-blueosh{
    border-color: #070d2c !important;
}

.bg-degrade{
    background-image: linear-gradient( 120deg, #070d2c ,  #58b9ce);
}
.vh100{
    height:100vh;
}

.pointer{
    cursor: pointer;
}