.modal {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .run{
    background: none;
    border: none;
  
  }


  .text-run{
    color:white !important
  }
  
  .text-run:hover{
    color:#070d2c !important;
  }

 