.modal {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .run{
    background: none;
    border: none;
    transition: 0.3s;
  }

  .run:hover{

   border-radius: 100%;
    background-color: whitesmoke;

    }

 