<div class="row mt-5 ml-5">
    <div class="col w-25">
        <div class="input-group input-group-lg ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Search Procedure</span>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="Large"
                aria-describedby="inputGroup-sizing-sm">
            <h2 class="ml-2"> <i class="fa fa-search"></i></h2>
        </div>
    </div>

    <div class="col">

        <button type="button" class="btn btn-dark btn-lg">Create new Procedure <span class="ml-2 h4"> <i
                    class="fa fa-plus"></i></span> </button>

    </div>

</div>
<div class="mt-5 ml-5 w-50">
    <table class="table table-dark text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Procedures</th>
                <th scope="col">Options</th>
                <th scope="col">Run</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let procedure of procedures">
                <th scope="row">{{ procedure.id}}</th>
                <td>{{ procedure }}</td>
                <td>
                    <a  href="run/{{ procedure.id }}" class=" h4"> <i class=" text-white fa fa-info-circle"></i></a>
                    &nbsp; &nbsp;
                    <a  href="link para editar" class=" h4"> <i class="text-white  fa fa-edit"></i></a>
                    &nbsp; &nbsp;
                    <a  href="link para lixo" class=" h4"> <i class="text-white fa fa-trash"></i></a>
                </td>
                <td>
                    <a href="link para correr" class=" h4"> <i class="text-success fa fa-play"></i></a>
                </td>
            </tr>

        </tbody>
    </table>
</div>