.modal {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .run{
    background: none;
    border: 0px;
  }

  .run:hover{

    border-radius: 1vw;
    border:0.5px solid gray;
    background-color: whitesmoke;

    }

 