<div class=" container row mt-5s ml-5">
    <div class="col w-25 mt-5">
        <div class="input-group input-group-lg ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Search Procedure</span>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="Large"
                aria-describedby="inputGroup-sizing-sm">
            <h2 class="ml-2"> <i class="fa fa-search"></i></h2>
        </div>
    </div>

    <div class="col text-center mt-5">

        <button type="button" (click)="createProcedure()" class="btn btn-dark btn-lg">Create new Procedure <span
                class="ml-2 h4"> <i class="fa fa-plus"></i></span> </button>

    </div>

</div>
<div class="mt-5 ml-5 w-50">
    <table class="table table-dark text-center">
        <thead>
            <tr>

                <th scope="col">Procedures</th>
                <th scope="col">Options</th>
                <th scope="col">Run</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let procedure of procedures">

                <td>{{ procedure.name }}</td>
                <td>
                    <a class=" h4"> <i class=" text-white fa fa-info-circle"></i></a>
                    &nbsp; &nbsp;
                    <a style="cursor:pointer" (click)="edit(procedure.id)" class=" h4"> <i
                            class="text-white  fa fa-edit"></i></a>
                    &nbsp; &nbsp;
                    <a style="cursor:pointer" (click)="open(content)" class=" h4"> <i
                            class="text-white fa fa-trash"></i></a>


                    <!-- pop up de remove prodecure-->
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Remove Procedure</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="display: flex;">
                            <h5>Are you sure you want to remove procedure <b>{{procedure.name}}</b>? </h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" ngbAutofocus
                                (click)="c('Cancel')">Cancel</button>
                            <button type="button" class="btn btn-primary  "
                                (click)="c('Confirm'); removeProcedure(procedure);">Remove Procedure</button>
                        </div>
                    </ng-template>
                </td>
                <td>
                    <button class="run" (click)="run(procedure)"> <i class="text-success fa fa-play"></i></button>
                </td>
            </tr>

        </tbody>
    </table>

</div>