<!--User box right top corner-->
<!--Isto devia estar numa componente, porque isto é informação do user, não da homepage-->
<!--
    <div>
    <div class="row">
        <div class="col-6">
            Hello, {{ user.name }}
        </div>
        <div class="col-6" style="font-size: 2em;">
            <i class="fa fa-user-circle"></i>
        </div>
    </div>
</div>
-->

<div>
    <div class="row">
        <div class="col" style="margin-top:5%;font-size: 1.5em;font-weight: bold;color: honeydew;">
            Hello, {{ user.name }}
        </div>
        <div class="col" style="font-size: 4em;margin-right: 20%;margin-bottom: 5%; color: honeydew;">
            <i class="fa fa-user-circle"></i>
        </div>
    </div>
</div>