<div class="row size-1-5 text-center" style="color: honeydew;">

    <!-- Registo ter info da localidade do user Concelho, Distrito ou Freguesia, Concelho-->
    <!-- Hora ir ao sistema-->
    <!-- class depending on {{ user.initial }}-->
    <!-- Ficava engraçado dar uma cor random à bola entre a border e o nome como o google faz   -->
    <span class="mr-2 alignright">Pontinha, Odivelas <br> 21:30 </span>
    &nbsp; &nbsp;
    <i class=" m-auto pointer size-2-8 fa fa-c border rounded-circle"></i> <!-- awful-->
    &nbsp;
</div>