     <!--User box right top corner-->
        <!--Isto devia estar numa componente, porque isto é informação do user, não da homepage-->
        <div style="width:13%">
            <div class="margin-vertical" style="margin-bottom: 30%;">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-6">
                            Hello, {{ user.name }}
                        </div>
                        <div class="col-6">
                            <i class="fa fa-user-circle fa-9x "></i>
                        </div>
                    </div>
                </div>
